<div class="processing-container">
    @for(file of files(); track file.jobId) {
        <div class="processes">
            <div class="file-icon">
                <mat-icon svgIcon="file"></mat-icon>
            </div>
            <div class="info">
                <span class="name">{{ file.filename }}</span>
                <span class="size">{{ formatFileSize(file.size) }}</span>
                <div class="progress-container">
                    <div class="progress-bar" [style.width.%]="file.progress"></div>
                </div>
            </div>
            <div class="control-container">
                <div class="status">
                    @if(file.status === 'success') {
                        <span class="type success"><mat-icon svgIcon="success"></mat-icon>Concluído</span>
                    } @else if(file.status === 'error') {
                        <span class="type error"><mat-icon svgIcon="close"></mat-icon>Falha</span>
                    } @else if(file.status === 'processing') {
                        <span class="type processing"><div class="spinner"></div>Processando</span>
                    } @else {
                        <span class="type pending">Na fila</span>
                    }              
                </div>
                <!-- <mat-icon svgIcon="play"></mat-icon>
                <mat-icon svgIcon="close"></mat-icon> -->
            </div>            
        </div>
    } @empty {
        <div class="empty-process">
            <span class="description">
                Nenhum arquivo adicionado ainda. Comece enviando um lote acima.
            </span>
        </div>
    }
</div>